<a href="https://colab.research.google.com/github/uSerg04/First_repo/blob/main/Avt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание на автомат №2, Вариант №4 (сложный), Проскуряков Сергей, 21119

In [10]:
import sqlite3
import pandas as pd
from google.colab import drive
drive.mount('./sample_data/drive')
path='./sample_data/drive/MyDrive/avtomat/avtomat.db'

print('''Это программа для анализа осадков может:
1
Ввести два списка с клавиатуры, сохранить и вывести из MySQL.
2
Выполнение всех операций из базового варианта, сохранение результатов и вывод из MySQL (в виде
таблицы).
3
Сохранить данные из MySQL в Excel и вывести на экран.
''')
s=input('Вы выбрали: ')
if s=='1':
 input_string1 = input('Введите список месяцев ')
 input_list1 = input_string1.split(",")

 input_string2 = input('Введите количество осадков соответственно каждому месяцу ')
 input_list2 = input_string2.split(",")

 conn=sqlite3.connect(path)
 cursor=conn.cursor()
 cursor.execute('''CREATE TABLE IF NOT EXISTS osadkii
             (id INTEGER PRIMARY KEY, month TEXT, osadki FLOAT)''')

 for i in range(len(input_list1)):
     cursor.execute("INSERT INTO osadkii (month, osadki) VALUES (?, ?)", (input_list1[i], input_list2[i]))

 conn.commit()
 df = pd.read_sql_query("SELECT * from osadkii", conn)
 display(df)

if s=='2':
  print('''Введите два списка с клавиатуры ''')

  def osadki_table(months, osadki):
    avr_osadki = sum(osadki) / len(osadki)
    print(' Месяц   Осадки   Отклонение')
    for i, (month, osadki) in enumerate(zip(months, osadki), 1):
        deviation = abs(osadki - avr_osadki)
        print('%2d %-8s %5.1f %10.1f' % (i, month, osadki, deviation))
        conn = sqlite3.connect(path)
        cursor = conn.cursor()
        cursor.execute('''CREATE TABLE IF NOT EXISTS osadkii
             (i INTEGER PRIMARY KEY, month TEXT, osadki FLOAT, deviation FLOAT)''')
        cursor.execute("INSERT INTO osadkii VALUES (?, ?, ?, ?)", (i, month, osadki, deviation))
        conn.commit()
        conn.close()

  input_string1 = input('Введите список месяцев ')
  input_list1 = input_string1.split(",")
  input_string2 = input('Введите количество осадков соответственно каждому месяцу ')
  input_list2 = input_string2.split(",")

  months = input_list1
  osadki = [float(x) for x in input_list2]
  osadki_table(months, osadki)

if s=='3':
  conn = sqlite3.connect(path)
  df = pd.read_sql_query('SELECT * FROM osadkii', conn)
  df.to_excel('output.xlsx', index=False)
  print(df)
  conn.close()

Drive already mounted at ./sample_data/drive; to attempt to forcibly remount, call drive.mount("./sample_data/drive", force_remount=True).
Это программа для анализа осадков может:
1
Ввести два списка с клавиатуры, сохранить и вывести из MySQL.
2
Выполнение всех операций из базового варианта, сохранение результатов и вывод из MySQL (в виде
таблицы).
3
Сохранить данные из MySQL в Excel и вывести на экран.

Вы выбрали: 1
Введите список месяцев Январь, Февраль, Март, Апрель, Май, Июнь, Июль, Август, Сентябрь, Октябрь, Ноябрь, Декабрь
Введите количество осадков соответственно каждому месяцу 41.3, 38.1, 43.2, 50.4, 85.7, 78.4, 47.7, 71.0, 54.2, 46.6, 41.9, 45.9

    id      month  osadki
0    1          2    16.0
1    2        Сен    16.0
2    3        Окт    25.0
3    4        Ноя     9.0
4    5     Январь    41.3
5    6    Февраль    38.1
6    7       Март    43.2
7    8     Апрель    50.4
8    9        Май    85.7
9   10       Июнь    78.4
10  11       Июль    47.7
11  12     Август    71.0
12  13   Сентябрь    54.2
13  14    Октябрь    46.6
14  15     Ноябрь    41.9
15  16    Декабрь    45.9