<a href="https://colab.research.google.com/github/uSerg04/First_repo/blob/main/Avtomat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Задание на автомат №2.**
### Выполнил Проскуряков Сергей, гр. 21119

In [ ]:
# ------------------------------------------------------------------------------------------------------

import sqlite3
import pandas as pd

# ------------------------------------------------------------------------------------------------------

conn = sqlite3.connect('database.db')
cur = conn.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS qwertyui
               (id INTEGER PRIMARY KEY, x1 REAL, y1 REAL, x2 REAL, y2 REAL, rasst REAL)''')
conn.commit()

# ------------------------------------------------------------------------------------------------------

print("Выберите действие:")
print("1. Вычисление расстояния между точками, сохранение и вывод из MySQL")
print("2. Создание множества и словаря, сохранение и вывод из MySQL")
print("3. Определить минимальное и максимальное значения, сохранение и вывод из MySQL")
x = int(input())

# ------------------------------------------------------------------------------------------------------

if x == 1:
  x1 = float(input("Введите значение координаты x1: "))
  y1 = float(input("Введите значение координаты y1: "))
  x2 = float(input("Введите значение координаты x2: "))
  y2 = float(input("Введите значение координаты y2: "))
  rasst = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
  cur.execute('INSERT INTO qwertyui (x1, y1, x2, y2, rasst) VALUES (?, ?, ?, ?, ?)', (x1, y1, x2, y2, rasst))
  conn.commit()
  f = pd.read_sql_query("SELECT * from qwertyui", conn)
  display(f)
  print(f"Расстояние между A({x1}, {y1}) и B({x2}, {y2}) = {rasst}")

# ------------------------------------------------------------------------------------------------------

if x == 2:
  mno = set(input("Введите элементы множества через запятую: ").split(","))
  slo = dict(enumerate(mno))
  cur.execute("INSERT INTO qwertyui (x1, y1, x2, y2, rasst) VALUES (?, ?, ?, ?, ?)", (str(mno), str(slo), "", "", ""))
  conn.commit()
  f = pd.read_sql_query("SELECT * from qwertyui", conn)
  display(f)
  print(f"Множество: {mno}")
  print(f"Словарь: {slo}")

# ------------------------------------------------------------------------------------------------------

if x == 3:
  spisok = list(map(int, input("Введите элементы списка через запятую: ").split(",")))
  minz = min(spisok)
  maxz = max(spisok)
  cur.execute("INSERT INTO qwertyui (x1, y1, x2, y2, rasst) VALUES (?, ?, ?, ?, ?)", (str(spisok), minz, maxz, "", ""))
  conn.commit()
  f = pd.read_sql_query("SELECT * from qwertyui", conn)
  display(f)
  print(f"Список: {spisok}")
  print(f"Минимальное значение: {minz}")
  print(f"Максимальное значение: {maxz}")

# ------------------------------------------------------------------------------------------------------

else:
  print("ERROR")
# ------------------------------------------------------------------------------------------------------